In [1]:
import pandas as pd

C:\Users\sigmoid\AppData\Local\Temp\ipykernel_14832\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
files = [
    "list0.csv",
    "list1.csv",
    "one.csv",
    "list2.csv",
    "list3.csv",
    "first15.csv",
    "second15.csv",
    "third15.csv",
    "fourth15.csv",
]
dfs = []
for file in files:
    dfs.append(pd.read_csv(file))

df = pd.concat(dfs)
df.head()

,course_url,course_name,instructor_name,course_provider,course_level,course_certificate,course_subject,course_is_university,course_avg_rating,course_num_rating,...,course_provider_url,description,duration,start_date,pricing,image_url,rating,is_free,language,subject_title
0,https://www.classcentral.com/course/informatio...,Unlocking Information Security I: From Cryptog...,NaN,edX,intermediate,True,Information Security (InfoSec),True,4.75078,321,...,NaN,"Explore cybersecurity fundamentals, from crypt...","5 weeks, 4-6 hours a week",On-Demand,Free Online Course (Audit),https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,5 out of 5 stars,Yes,English,NaN
1,https://www.classcentral.com/course/computer-p...,Unlocking Information Security II: An Internet...,NaN,edX,intermediate,True,Information Security (InfoSec),True,4.80769,52,...,NaN,Continue learning how systems are hacked and d...,"7 weeks, 4-6 hours a week",On-Demand,Free Online Course (Audit),https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,5 out of 5 stars,Yes,English,NaN
2,https://www.classcentral.com/course/openlearn-...,Information security,NaN,OpenLearn,advanced,True,Information Security (InfoSec),True,4.88889,9,...,NaN,Information security underpins the commercial ...,10 hours,On-Demand,Free Certificate,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,5 out of 5 stars,Yes,English,NaN
3,https://www.classcentral.com/course/swayam-int...,Introduction to Cyber Security,"Uttarakhand Open University, Haldwani, IGNOU",Swayam,NaN,True,Cybersecurity,True,4.64316,468,...,NaN,Comprehensive foundation in cyber security cov...,12 weeks,On-Demand,Free Online Course,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,4.5 out of 5 stars,Yes,English,NaN
4,https://www.classcentral.com/classroom/cybrary...,Ethical Hacking Course Certification,NaN,Cybrary,NaN,False,Ethical Hacking,False,4.35734,361,...,NaN,Master ethical hacking and penetration testing...,On-Demand,Free Video,NaN,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,4.5 out of 5 stars,No,English,NaN

In [8]:
df.shape

(190828, 25)

In [9]:
df.columns

Index(['course_url', 'course_name', 'instructor_name', 'course_provider',
       'course_level', 'course_certificate', 'course_subject',
       'course_is_university', 'course_avg_rating', 'course_num_rating',
       'course_institution', 'course_is_classroom', 'course_is_free',
       'course_id', 'course_type', 'course_provider_url', 'description',
       'duration', 'start_date', 'pricing', 'image_url', 'rating', 'is_free',
       'language', 'subject_title'],
      dtype='object')

In [10]:
df["course_id"].nunique()

103190

In [52]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103190 entries, 0 to 14136
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   course_name           103190 non-null  object
 1   instructor_name       61019 non-null   object
 2   course_provider       103190 non-null  object
 3   course_level          26148 non-null   object
 4   course_certificate    103190 non-null  int64
 5   course_subject        103190 non-null  object
 6   course_is_university  103190 non-null  int64
 7   course_avg_rating     103190 non-null  float64
 8   course_num_rating     103190 non-null  int64
 9   course_institution    74815 non-null   object
 10  course_is_classroom   103190 non-null  int64
 11  course_is_free        103190 non-null  int64
 12  course_id             103190 non-null  int64
 13  course_type           103190 non-null  object
 14  description           75985 non-null   object
 15  duration              75985 non-null   object
 16  start_date            75985 non-null   object
 17  pricing               73689 non-null   object
 18  image_url             101408 non-null  object
 19  rating                103190 non-null  object
 20  is_free               75985 non-null   float64
 21  language              75985 non-null   object
 22  course_url_slug       103190 non-null  object
dtypes: float64(2), int64(6), object(15)
memory usage: 18.9+ MB

In [45]:
df["course_url"] = df["course_url"].apply(
    lambda x: x.replace("https://www.classcentral.com", "")
)
df["course_url_slug"] = df["course_url"]

In [ ]:
df = df.drop(columns=["course_provider_url", "subject_title", "course_url"])

In [53]:
df.head()

,course_name,instructor_name,course_provider,course_level,course_certificate,course_subject,course_is_university,course_avg_rating,course_num_rating,course_institution,...,course_type,description,duration,start_date,pricing,image_url,rating,is_free,language,course_url_slug
0,Unlocking Information Security I: From Cryptog...,NaN,edX,intermediate,1,Information Security (InfoSec),1,4.75078,321,Tel Aviv University,...,course,"Explore cybersecurity fundamentals, from crypt...","5 weeks, 4-6 hours a week",On-Demand,Free Online Course (Audit),https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,5 out of 5 stars,1.0,English,/course/information-security-tel-aviv-universi...
1,Unlocking Information Security II: An Internet...,NaN,edX,intermediate,1,Information Security (InfoSec),1,4.80769,52,Tel Aviv University,...,course,Continue learning how systems are hacked and d...,"7 weeks, 4-6 hours a week",On-Demand,Free Online Course (Audit),https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,5 out of 5 stars,1.0,English,/course/computer-programming-tel-aviv-universi...
2,Information security,NaN,OpenLearn,advanced,1,Information Security (InfoSec),1,4.88889,9,The Open University,...,course,Information security underpins the commercial ...,10 hours,On-Demand,Free Certificate,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,5 out of 5 stars,1.0,English,/course/openlearn-science-maths-technology-inf...
3,Introduction to Cyber Security,"Uttarakhand Open University, Haldwani, IGNOU",Swayam,NaN,1,Cybersecurity,1,4.64316,468,"Uttarakhand Open University, Haldwani",...,course,Comprehensive foundation in cyber security cov...,12 weeks,On-Demand,Free Online Course,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,4.5 out of 5 stars,1.0,English,/course/swayam-introduction-to-cyber-security-...
4,Ethical Hacking Course Certification,NaN,Cybrary,NaN,0,Ethical Hacking,0,4.35734,361,NaN,...,course,Master ethical hacking and penetration testing...,On-Demand,Free Video,NaN,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,4.5 out of 5 stars,0.0,English,/classroom/cybrary-ethical-hacking-course-cert...

In [21]:
df["is_free"] = df["is_free"].map({"Yes": 1, "No": 0})
df["is_free"].unique()

array([ 1.,  0., nan])

In [22]:
df["course_is_free"] = df["course_is_free"].map({True: 1, False: 0})
df["course_is_free"].unique()

array([1, 0], dtype=int64)

array([1, 0], dtype=int64)

In [31]:
df["course_is_university"] = df["course_is_university"].map({True: 1, False: 0})
df["course_is_university"].unique()

array([1, 0], dtype=int64)

In [36]:
df["course_is_classroom"] = df["course_is_classroom"].map({True: 1, False: 0})
df["course_is_classroom"].unique()

array([0, 1], dtype=int64)

In [37]:
df[["course_is_free", "is_free"]]

       course_is_free  is_free
0                   1      1.0
1                   1      1.0
2                   1      1.0
3                   1      1.0
4                   1      0.0
...               ...      ...
12135               1      NaN
12136               1      NaN
12137               1      NaN
12138               1      NaN
12139               1      NaN

[190828 rows x 2 columns]

In [50]:
df_filter = df.drop_duplicates(subset=["course_id"])
df_filter.shape

(103190, 23)

In [51]:
df_filter.to_csv("./courses_103190.csv", index=False)